<!DOCTYPE html>
<html>
<head>
    <title>Anotações</title>
</head>
    <body>
        <header>
        <h1>Anotações</h1>

        <div>
            <form method="POST" action="">
                <input type="hidden" name="_token" required>
                    <label for="title">Título</label>
                    <input type="text" name="title" id="title">
                    <label for="content">Conteúdo</label>
                    <textarea name="content" id="content" rows="5"></textarea>
                    <button type="submit">Salvar</button>
            </form>
        </div>
        </header>
    </body>
</html>